$primary-color: #2ebabc;
$primary-color-light: lighten($primary-color, 5%);

:root {
  --c-brand: #{$primary-color};
  --c-brand-light: #{$primary-color-light};
  scroll-behavior: smooth;
  --search-input-width: 8rem !important;
  --search-result-width: 90% !important;
}

@media screen and (max-width: 768px) {
  :root {
    --search-input-width: 5rem !important;
  }
}

html.dark {
  --c-brand: #{$primary-color};
}

$rainbow-color: linear-gradient(70deg, #05b287, #5597c0, #0796ce,#b64997, #b64956, #da7319,  #05b287);

@mixin rainbow {
  background-image: $rainbow-color;
  background-repeat: repeat;
  background-clip: text;
  color: transparent;
}


@keyframes scroll_background {
  0% { background-position: 0 0}
  50% { background-position: 400px 0}
  100% { background-position: 100% 0}
}

@keyframes scroll_background2 {
  0% { background-position: 0 0}
  50% { background-position: 800px 0}
  100% { background-position: 100% 0}
}

.back-to-top {
  background-image: $rainbow-color;
}


.suggestions {
  position: fixed !important;
  left: 18vw !important;
  top: calc(var(--navbar-line-height) + 7px) !important;
  max-width: 100% !important;
}



.navbar {
  border-bottom:2px solid #ddd;
  border-image: $rainbow-color 30;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .site-name {
    display: inline-block;
    @include rainbow();
    animation: scroll_background 100s linear infinite;

  }
}


#main-title {
  display: inline-block;
  @include rainbow();
  animation: scroll_background 8s linear infinite;
  font-weight: 700;
  font-size: 76px;
  @media screen and (max-width: 768px) {
    font-size: 50px;
  }

}

.home {
  .action-button.primary {
    background-image: linear-gradient(130deg, #1BA784, #158BB8,#43d6b1);
    transition: 2s linear;
  }
  .action-button.primary:hover {
    background-image: repeating-linear-gradient(130deg, #25b1d0, #24b582);
  }

}

.navbar {
  background-image: linear-gradient(90deg, rgb(182, 73, 151, 0.05),rgba(27, 167, 132, 0.05), rgba(21, 139, 184, 0.05), rgb(182, 73, 151, 0.05));
  animation: scroll_background2 10s linear infinite;
}

.sidebar {
  background-image: linear-gradient(45deg, rgba(27, 167, 132, 0.02), rgba(21, 139, 184, 0.02), rgb(182, 73, 151, 0.02));
}